doctype html
head
  title Vena Swagger UI

div#header(style='text-align:center;')
  a(href='/home' style='padding:10px;') Upload Swagger JSON
  a(href='/swagger' style='padding:10px;') View Swagger JSON
  a(href='/' style='padding:10px;') Go to Swagger UI
  a(href='/slateit' style='padding:10px;') Slate It
  a(href='http://localhost:8082' style='padding:10px;') API Documentation (Slate)

#container
  h1(style='text-align:center;') Vena Manager API Swagger
    h4(style='text-align:center;') Use the controls below to uplaod a swagger.json
  br
  form#the-form(action='/update' enctype='multipart/form-data' method='post' style='width:400px;margin: 0 auto;')
    input(name='swaggerjson' type='file' accept='.json')
    input(type='submit' value='Publish')
